[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = All the work related to LI-Fi communication under this repo. All the contest i have participated also in this repo
[access "refs/*"]
	owner = group user/Shrutika Bansal (Shrutikabansal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shrutika Bansal (Shrutikabansal)
	label-Verified = -1..+1 group user/Shrutika Bansal (Shrutikabansal)
	push = group user/Shrutika Bansal (Shrutikabansal)
	read = group user/Shrutika Bansal (Shrutikabansal)
	rebase = group user/Shrutika Bansal (Shrutikabansal)
	removeReviewer = group user/Shrutika Bansal (Shrutikabansal)
	submit = group user/Shrutika Bansal (Shrutikabansal)
[access "refs/heads/*"]
	create = group user/Shrutika Bansal (Shrutikabansal)
	push = +force group user/Shrutika Bansal (Shrutikabansal)
	pushMerge = group user/Shrutika Bansal (Shrutikabansal)
	read = group user/Shrutika Bansal (Shrutikabansal)
[access "refs/tags/*"]
	push = group user/Shrutika Bansal (Shrutikabansal)
	push = +force group user/Shrutika Bansal (Shrutikabansal)
